@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff');
    }
    %#{$style-name} {
        font: {
            @if $category !="" {
                family: "#{$style-name}",
                #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}
@font-face {
    font-family: "Lato-regular";
    src: url("/fonts/lato/lato-regular.eot");
    src: url("/fonts/lato/lato-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lato/lato-regular.woff") format("woff");
}

@font-face {
    font-family: "Lato-bold";
    src: url("/fonts/lato/lato-bold.eot");
    src: url("/fonts/lato/lato-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/lato/lato-bold.woff") format("woff");
}

@font-face {
    font-family: "Lato-Light";
    src: url("/fonts/lato/lato-Light.eot");
    src: url("/fonts/lato/lato-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/lato/lato-Light.woff") format("woff");
}