body{
    .user-icon{
        position: absolute;
        top: -4rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 4rem;
        border: solid $grey 1px;
        width: 7rem;
        height: 7rem;
        background-color: $white;
        color: $grey;
    }
    #formRegister{
        display: none;
    }
}