@import 'fonts';
@import 'media-queries';
@font-face {
    font-family: "Lato-regular";
    src: url("/fonts/lato/lato-regular.eot");
    src: url("/fonts/lato/lato-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lato/lato-regular.woff") format("woff");
}

@font-face {
    font-family: "Lato-bold";
    src: url("/fonts/lato/lato-bold.eot");
    src: url("/fonts/lato/lato-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/lato/lato-bold.woff") format("woff");
}

@font-face {
    font-family: "Lato-Light";
    src: url("/fonts/lato/lato-Light.eot");
    src: url("/fonts/lato/lato-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/lato/lato-Light.woff") format("woff");
}

$red: #ff1d25;
$purple: #b2093d;
$white: #fff;
$grey: #a0a0a0;
$greyLight: #cccccc;

body {
    /****** General Styles *******/
    font-family: 'lato-regular';
    color: #919191;    
    &.bg--img__wall{
        background-image: url("/img/fondo.png");
        background-size: cover;
    }
    .bg--grey__light{
        background-color: $greyLight;
    }
    header {
        width: 100%;
        color: $white;
        &.bg--img__table{
            background-image: url("/img/mesa.png");
            background-size: cover;
        }
        nav {
            img {
                width: 25%;
            }
            a {
                color: $white;
            }
            ul {
                li {
                    display: inline-block;
                    a {
                        color: $white;
                    }
                }
            }
        }
        hr{
            border-top: 1px solid $white;
        }
    }
    .h1{
        font-family: 'lato-bold';
        &.large{
            font-size: 5rem;
        }
    }
    .h3{
        font-family: 'lato-bold';
        color: $red;
        font-size: 2rem;
    }
    .h4{
        font-size: 1.8rem;
    }
    .main-text{
        color: $grey;
        font-size: 1rem;
        &.bold{
            font-family: 'lato-bold';     
        }
        &.light{
            font-family: 'lato-light';     
        }
        &.medium{
            font-size: 1.25rem;
        }
    }
    .secondary-text{
        font-family: 'lato-light';
        color: $white;
        font-size: 1.75rem;
        &.padding-bot{
            padding: 0 0 6rem 0;
        }
    }
    .btn-red{
        @extend .main-text;
        background-color: $purple;
        color: $white;    
    }
    footer {
        background: #000;
        ul {
            li {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                i{
                    font-size: 2rem;
                }
            }
        }
    }
    /****** Authentication Styles *******/
    .user-icon{
        position: absolute;
        top: -4rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 4rem;
        border: solid $grey 1px;
        width: 7rem;
        height: 7rem;
        background-color: $white;
        color: $grey;
    }
    #formRegister{
        display: none;
    }
    /****** Menu Styles *******/
}