body{
    .p--spacing{
        letter-spacing: 0.2em;
    }
    .btn-rounded{
        border-radius: 50px;
        margin-right: 1em;
    }
    .container-pizza {
        overflow: hidden;
        text-align: center;
        height: 10rem !important;
        @include respond-to(medium-screens) {
            height: 39rem !important;
        }
        @include respond-to(large-screens) {
            height: 36rem !important;
        }
    }
    .pizza_home {
        z-index: 1;
        position: absolute;
        @include respond-to(small-screens) {
            width: 100%;
            position: relative;
        }
        @include respond-to(medium-screens) {
            top: 13rem;
        }
        @include respond-to(large-screens) {
            top: 6rem;
        }
        @include respond-to(extra-large-screens) {
            top: 3rem;
        }
    }
    .pizza_plate {
        z-index: 0;
        bottom: 0;
        position: absolute;
        display: none;
        @include respond-to(large-screens) {
            display: block;
        }
    }
    .main_images {
        padding-left: 0rem;
        margin-left: 0rem;
        @include respond-to(medium-screens) {
            padding-left: 1rem;
            margin-left: 7rem;
        }
    }
    .main_image {
        width: 100%;
    }
    .secondary_image {
        display: none;
        @include respond-to(medium-screens) {
            display: block;
        }
    }
    .third_image {
        display: none;
        @include respond-to(medium-screens) {
            display: block;
            margin-top: 1em;
            margin-right: 1em;
        }
    }
    .gallery {
        @include respond-to(small-screens) {
            width: 100%;
            justify-content: center;
            margin-top: 1em;
        }
    }
}