body{
    .fixed-pos{
        position: fixed;
        z-index: 2;
    }
    .margin-right{
        margin-right: -30px;
    }
    .card-width{
        width: 23rem;
        @include respond-to(large-screens) {
            width: 18rem;
        }
    }
    .card-columns {
        column-count: 1;
        @include respond-to(large-screens) {
          column-count: 4;
        }
    }
}